<link rel="stylesheet" href="/form.css">

<form action="/add" method="post" class="post-form">
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" id="titulo" required>
    
    <label for="conteudo">Conteúdo:</label>
    <textarea name="conteudo" id="conteudo"></textarea>

    <button type="submit">Cadastrar Postagem</button>
</form>

